force-app/main/default/flows/YoutubeValidationDemo.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <interviewLabel>YoutubeValidationDemo {!$Flow.CurrentDateTime}</interviewLabel>
    <label>YoutubeValidationDemo</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <screens>
        <name>Summary</name>
        <label>Summary</label>
        <locationX>337</locationX>
        <locationY>198</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SummaryDetails</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(206, 145, 120);&quot;&gt;Do you own a youtube channel? {!hasYoutubeChannel}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(206, 145, 120);&quot;&gt;Channel: {!channelName}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(206, 145, 120);&quot;&gt;Subscribers: {!subscribers}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(206, 145, 120);&quot;&gt;Date Started: {!dateStarted}&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>User_Inputs</name>
        <label>User Inputs</label>
        <locationX>178</locationX>
        <locationY>189</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Summary</targetReference>
        </connector>
        <fields>
            <name>Channel_Details</name>
            <extensionName>c:AppValidation</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>channelName</name>
                <value>
                    <elementReference>channelName</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>dateStarted</name>
                <value>
                    <elementReference>dateStarted</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hasYoutubeChannel</name>
                <value>
                    <elementReference>hasYoutubeChannel</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>subscribers</name>
                <value>
                    <elementReference>subscribers</elementReference>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>channelName</assignToReference>
                <name>channelName</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>dateStarted</assignToReference>
                <name>dateStarted</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>hasYoutubeChannel</assignToReference>
                <name>hasYoutubeChannel</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>subscribers</assignToReference>
                <name>subscribers</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>User_Inputs</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>channelName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>dateStarted</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>hasYoutubeChannel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>subscribers</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
